{% extends "layout.html" %}
{% block title %}Управление пользователями{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Управление пользователями</h1>
        <hr class="my-3">
        <p><a href="{{ url_for('index') }}" class="btn btn-secondary mb-3">На главную</a></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>
                        <form action="{{ url_for('update_user_role', user_id=user.id) }}" method="post">
                            <select name="role" onchange="this.form.submit()">
                                <option value="user" {% if user.role == 'user' %} selected {% endif %}>User</option>
                                <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
                            </select>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
